* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #413f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.reload {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 25px;
  right: 25px;
  color: #b3b3b3;
  background-color: #F3F3F3;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
}

.logo {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.logo .icon {
  width: 50%;
  max-width: 300px;
}

.logo .icon path {
  color: #ffffff;
  stroke-width: 3px;
  stroke-dashoffset: -3000;
  stroke-dasharray: 3000;
}

.logo .icon path.is-active {
  -webkit-animation-name: icon;
          animation-name: icon;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.logo .text {
  width: 100%;
  max-width: 900px;
}

.logo .text text {
  color: #ffffff;
  stroke-width: 3px;
  stroke-dashoffset: -800;
  stroke-dasharray: 800;
}

.logo .text text.is-active {
  -webkit-animation-name: text;
          animation-name: text;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes icon {
  50% {
    stroke-dashoffset: 0;
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 12px;
  }
  75% {
    fill: transparent;
    stroke: #ffffff;
    stroke-width: 3px;
    stroke-width: 20px;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
    stroke-width: 0px;
  }
}

@keyframes icon {
  50% {
    stroke-dashoffset: 0;
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 12px;
  }
  75% {
    fill: transparent;
    stroke: #ffffff;
    stroke-width: 3px;
    stroke-width: 20px;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
    stroke-width: 0px;
  }
}

@-webkit-keyframes text {
  50% {
    fill: transparent;
  }
  75% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke-width: 3px;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
    stroke-width: 0px;
  }
}

@keyframes text {
  50% {
    fill: transparent;
  }
  75% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke-width: 3px;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
    stroke-width: 0px;
  }
}
/*# sourceMappingURL=style3.css.map */